In [1]:
from pyspark.sql import SparkSession

# spark = SparkSession.builder.appName("demo").master("spark://spark-master:7077").getOrCreate()
spark = SparkSession.builder \
            .appName("demo") \
            .master("spark://spark-master:7077") \
            .config("spark.sql.catalog.spark_catalog","org.apache.iceberg.spark.SparkSessionCatalog") \
            .config("spark.sql.catalog.spark_catalog.type","hive") \
            .config("spark.sql.catalog.hive_prod","org.apache.iceberg.spark.SparkCatalog") \
            .config("spark.sql.catalog.hive_prod.type","hive") \
            .config("spark.sql.catalog.hive_prod.uri","thrift://hive-metastore:9083") \
            .config('spark.sql.warehouse.dir', 's3a://lakehouse/') \
            .getOrCreate()

In [1]:
from pyspark.sql import SparkSession

# spark = SparkSession.builder.appName("demo").master("spark://spark-master:7077").getOrCreate()
spark = SparkSession.builder \
            .appName("demo") \
            .master("spark://spark-master:7077") \
            .config("spark.sql.catalog.hive_prod","org.apache.iceberg.spark.SparkCatalog") \
            .config("spark.sql.catalog.hive_prod.type","hive") \
            .config("spark.sql.catalog.hive_prod.uri","thrift://hive-metastore:9083") \
            .config('spark.sql.warehouse.dir', 's3a://lakehouse/') \
            .enableHiveSupport() \
            .getOrCreate()

In [1]:
spark.stop()

NameError: name 'spark' is not defined

In [5]:
df = spark.read.format("parquet").load("s3a://lakehouse/bronze/stock/stocks.parquet")
df.show(10)
# type(df)

+----------+--------------------+------+------------------+------------+
|    Symbol|         CompanyName|Series|          Industry|   ISIN_Code|
+----------+--------------------+------+------------------+------------+
|ADANIPORTS|Adani Ports and S...|    EQ|          SERVICES|INE742F01042|
|ASIANPAINT|   Asian Paints Ltd.|    EQ|    CONSUMER GOODS|INE021A01026|
|  AXISBANK|      Axis Bank Ltd.|    EQ|FINANCIAL SERVICES|INE238A01034|
|BAJAJ-AUTO|     Bajaj Auto Ltd.|    EQ|        AUTOMOBILE|INE917I01010|
|BAJAJFINSV|  Bajaj Finserv Ltd.|    EQ|FINANCIAL SERVICES|INE918I01018|
|BAJFINANCE|  Bajaj Finance Ltd.|    EQ|FINANCIAL SERVICES|INE296A01024|
|BHARTIARTL|  Bharti Airtel Ltd.|    EQ|           TELECOM|INE397D01024|
|      BPCL|Bharat Petroleum ...|    EQ|            ENERGY|INE029A01011|
| BRITANNIA|Britannia Industr...|    EQ|    CONSUMER GOODS|INE216A01030|
|     CIPLA|          Cipla Ltd.|    EQ|            PHARMA|INE059A01026|
+----------+--------------------+------+------------------+------------+
only showing top 10 rows

In [40]:
# spark.sql(f"CREATE SCHEMA IF NOT EXISTS hive_prod.silver")
spark.sql("CREATE DATABASE IF NOT EXISTS hive_prod.db1")
spark.sql("CREATE TABLE IF NOT EXISTS hive_prod.db1.stock2s (Symbol string, CompanyName string, Series string, Industry string, ISIN_Code string) USING iceberg")
# spark.sql(f"CREATE TABLE IF NOT EXISTS hive_prod.silver.stocks (Symbol string, CompanyName string, Series string, Industry string, ISIN_Code string) USING iceberg")
# spark.sql("CREATE TABLE IF NOT EXISTS hive_prod.silver.stock2s (Symbol string, CompanyName string, Series string, Industry string, ISIN_Code string) USING iceberg")
# spark.sql(f"CREATE TABLE IF NOT EXISTS hive_prod.silver.stocksss (Symbol varchar(100), CompanyName varchar(100), Series varchar(100), Industry varchar(100), ISIN_Code varchar(100)) USING iceberg")
spark.sql("SHOW TABLES FROM hive_prod.db1").show()
# spark.sql("SHOW DATABASES FROM hive_prod").show()
# spark.sql("SHOW catalogs").show()

+---------+---------+-----------+
|namespace|tableName|isTemporary|
+---------+---------+-----------+
|      db1|  stock2s|      false|
+---------+---------+-----------+

In [41]:
# df.write.format("iceberg").mode("overwrite").saveAsTable("iceberg.db.a")
df.createOrReplaceTempView("stock2s")

In [42]:
df.writeTo("hive_prod.db1.stock2s").append()

In [ ]:
spark.stop()

In [ ]:
data = spark.read.format("iceberg").load("hive_prod.gold.restaurant")
data.show(5)

In [ ]:
data.write.format("iceberg").mode("overwrite").saveAsTable("iceberg.data")

In [ ]:
spark.stop()

In [ ]:
spark.sql("CREATE DATABASE IF NOT EXISTS hive_prod.db")

In [ ]:
spark.sql("CREATE TABLE IF NOT EXISTS hive_prod.db.stock (Symbol string, CompanyName string, Series string, Industry string, ISIN_Code string) USING iceberg")

In [ ]:
# player.writeTo("hive_prod.db.stock").append()
player.writeTo("hive_prod.db.sal").using("iceberg").create()

In [ ]:
icebergdf = spark.read.format("iceberg").load("hive_prod.db.sal")
icebergdf.show(10)

In [ ]:
player = spark.read \
    .format("parquet") \
    .load("s3a://lakehouse/bronze/stock/stocks.parquet")

player.show()

In [ ]:
player.createOrReplaceTempView("player")

In [ ]:
sqlContext = SparkSession(spark)

In [ ]:
t = sqlContext.sql("SELECT * FROM player")

In [ ]:
t.show()

In [ ]:
t.write.format("iceberg").save()

In [ ]:
t = spark.read \
    .format("csv") \
    .option("header", "true") \
    .load("s3a://test/ADANIPORTS.csv")

t.show()

In [ ]:
spark.stop()

In [ ]:
file:///usr/local/spark-3.3.2-bin-hadoop3/jars/hadoop-aws-3.3.2.jar,file:///usr/local/spark-3.3.2-bin-hadoop3/jars/hadoop-common-3.3.2.jar,file:///usr/local/spark-3.3.2-bin-hadoop3/jars/aws-java-sdk-1.12.367.jar,file:///usr/local/spark-3.3.2-bin-hadoop3/jars/s3-2.18.41.jar,file:///usr/local/spark-3.3.2-bin-hadoop3/jars/aws-java-sdk-bundle-1.11.1026.jar

In [ ]:
spark

In [33]:
from sqlalchemy import create_engine
from sqlalchemy.sql.expression import select, text

engine = create_engine('trino://trino@192.168.59.1:8085/iceberg')
connection = engine.connect()

rows = connection.execute(text("SELECT * FROM db.a")).fetchall()
print(rows)

[('ADANIPORTS', 'Adani Ports and Special Economic Zone Ltd.', 'EQ', 'SERVICES', 'INE742F01042'), ('ASIANPAINT', 'Asian Paints Ltd.', 'EQ', 'CONSUMER GOODS', 'INE021A01026'), ('AXISBANK', 'Axis Bank Ltd.', 'EQ', 'FINANCIAL SERVICES', 'INE238A01034'), ('BPCL', 'Bharat Petroleum Corporation Ltd.', 'EQ', 'ENERGY', 'INE029A01011'), ('BRITANNIA', 'Britannia Industries Ltd.', 'EQ', 'CONSUMER GOODS', 'INE216A01030'), ('CIPLA', 'Cipla Ltd.', 'EQ', 'PHARMA', 'INE059A01026'), ('COALINDIA', 'Coal India Ltd.', 'EQ', 'METALS', 'INE522F01014'), ('DRREDDY', "Dr. Reddy's Laboratories Ltd.", 'EQ', 'PHARMA', 'INE089A01023'), ('EICHERMOT', 'Eicher Motors Ltd.', 'EQ', 'AUTOMOBILE', 'INE066A01013'), ('GAIL', 'GAIL (India) Ltd.', 'EQ', 'ENERGY', 'INE129A01019'), ('GRASIM', 'Grasim Industries Ltd.', 'EQ', 'CEMENT & CEMENT PRODUCTS', 'INE047A01021'), ('BAJAJ-AUTO', 'Bajaj Auto Ltd.', 'EQ', 'AUTOMOBILE', 'INE917I01010'), ('BAJAJFINSV', 'Bajaj Finserv Ltd.', 'EQ', 'FINANCIAL SERVICES', 'INE918I01018'), ('BAJFINANCE', 'Bajaj Finance Ltd.', 'EQ', 'FINANCIAL SERVICES', 'INE296A01024'), ('BHARTIARTL', 'Bharti Airtel Ltd.', 'EQ', 'TELECOM', 'INE397D01024'), ('HCLTECH', 'HCL Technologies Ltd.', 'EQ', 'IT', 'INE860A01027'), ('HDFC', 'Housing Development Finance Corporation Ltd.', 'EQ', 'FINANCIAL SERVICES', 'INE001A01036'), ('HDFCBANK', 'HDFC Bank Ltd.', 'EQ', 'FINANCIAL SERVICES', 'INE040A01034'), ('HEROMOTOCO', 'Hero MotoCorp Ltd.', 'EQ', 'AUTOMOBILE', 'INE158A01026'), ('HINDALCO', 'Hindalco Industries Ltd.', 'EQ', 'METALS', 'INE038A01020'), ('HINDUNILVR', 'Hindustan Unilever Ltd.', 'EQ', 'CONSUMER GOODS', 'INE030A01027'), ('ICICIBANK', 'ICICI Bank Ltd.', 'EQ', 'FINANCIAL SERVICES', 'INE090A01021'), ('INDUSINDBK', 'IndusInd Bank Ltd.', 'EQ', 'FINANCIAL SERVICES', 'INE095A01012'), ('INFY', 'Infosys Ltd.', 'EQ', 'IT', 'INE009A01021'), ('IOC', 'Indian Oil Corporation Ltd.', 'EQ', 'ENERGY', 'INE242A01010'), ('ITC', 'ITC Ltd.', 'EQ', 'CONSUMER GOODS', 'INE154A01025'), ('JSWSTEEL', 'JSW Steel Ltd.', 'EQ', 'METALS', 'INE019A01038'), ('KOTAKBANK', 'Kotak Mahindra Bank Ltd.', 'EQ', 'FINANCIAL SERVICES', 'INE237A01028'), ('LT', 'Larsen & Toubro Ltd.', 'EQ', 'CONSTRUCTION', 'INE018A01030'), ('M&M', 'Mahindra & Mahindra Ltd.', 'EQ', 'AUTOMOBILE', 'INE101A01026'), ('MARUTI', 'Maruti Suzuki India Ltd.', 'EQ', 'AUTOMOBILE', 'INE585B01010'), ('NESTLEIND', 'Nestle India Ltd.', 'EQ', 'CONSUMER GOODS', 'INE239A01016'), ('NTPC', 'NTPC Ltd.', 'EQ', 'ENERGY', 'INE733E01010'), ('ONGC', 'Oil & Natural Gas Corporation Ltd.', 'EQ', 'ENERGY', 'INE213A01029'), ('POWERGRID', 'Power Grid Corporation of India Ltd.', 'EQ', 'ENERGY', 'INE752E01010'), ('RELIANCE', 'Reliance Industries Ltd.', 'EQ', 'ENERGY', 'INE002A01018'), ('SBIN', 'State Bank of India', 'EQ', 'FINANCIAL SERVICES', 'INE062A01020'), ('SHREECEM', 'Shree Cement Ltd.', 'EQ', 'CEMENT & CEMENT PRODUCTS', 'INE070A01015'), ('SUNPHARMA', 'Sun Pharmaceutical Industries Ltd.', 'EQ', 'PHARMA', 'INE044A01036'), ('TATAMOTORS', 'Tata Motors Ltd.', 'EQ', 'AUTOMOBILE', 'INE155A01022'), ('TATASTEEL', 'Tata Steel Ltd.', 'EQ', 'METALS', 'INE081A01012'), ('TCS', 'Tata Consultancy Services Ltd.', 'EQ', 'IT', 'INE467B01029'), ('TECHM', 'Tech Mahindra Ltd.', 'EQ', 'IT', 'INE669C01036'), ('TITAN', 'Titan Company Ltd.', 'EQ', 'CONSUMER GOODS', 'INE280A01028'), ('ULTRACEMCO', 'UltraTech Cement Ltd.', 'EQ', 'CEMENT & CEMENT PRODUCTS', 'INE481G01011'), ('UPL', 'UPL Ltd.', 'EQ', 'FERTILISERS & PESTICIDES', 'INE628A01036'), ('VEDL', 'Vedanta Ltd.', 'EQ', 'METALS', 'INE205A01025'), ('WIPRO', 'Wipro Ltd.', 'EQ', 'IT', 'INE075A01022'), ('ZEEL', 'Zee Entertainment Enterprises Ltd.', 'EQ', 'MEDIA & ENTERTAINMENT', 'INE256A01028')]

In [28]:
connection.execute(text("CREATE SCHEMA IF NOT EXISTS iceberg.db with (location = 's3a://lakehouse/')"))

In [34]:
connection.execute(text("CREATE TABLE IF NOT EXISTS iceberg.db.b (Symbol varchar, CompanyName varchar, Series varchar, Industry varchar, ISIN_Code varchar)"))

ProgrammingError: (trino.exceptions.TrinoUserError) TrinoUserError(type=USER_ERROR, name=SYNTAX_ERROR, message="line 1:132: mismatched input 'USING'. Expecting: 'COMMENT', 'WITH', <EOF>", query_id=20231102_175215_00163_gh2b3)
[SQL: CREATE TABLE IF NOT EXISTS iceberg.db.b (Symbol varchar, CompanyName varchar, Series varchar, Industry varchar, ISIN_Code varchar) USING iceberg]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [ ]:
from pyspark.sql.functions import *

In [ ]:
df = spark.read.format("iceberg").load("hive_prod.silver.cleaned_stocks")
# df = df.withColumnRenamed("VWAP", "Volume_Weight_Avg_Price") \
#     .withColumn("Date", date_format("Date", "dd-MM-yyyy")) \
#     .drop('ID')
df.show(3)

In [ ]:
# type(df['Open'])
df.describe().toPandas()

In [ ]:
df.distinct().count()

In [ ]:
df.select(['Open', 'High', 'Low', 'Last', 'Close', 'Volume']).describe().toPandas()

In [ ]:
df.groupBy('Symbol').count().show()

In [ ]:
import pyspark.sql.functions as f

In [ ]:
hdfc = df.filter(col('Symbol')=='HDFC')
hdfc.show()

In [ ]:
from pyspark.sql.functions import *

In [ ]:
df.groupBy('Symbol') \
    .agg(min('Date').alias('Start'),
         max('Date').alias('End'),
         
         min('Open').alias('Min_Open'),
         max('Open').alias('Max_Open'),
         avg('Open').alias('Avg_Open'),
         
         min('High').alias('Min_High'),
         max('High').alias('Max_High'),
         avg('High').alias('Avg_High'),
         
         min('Low').alias('Min_Low'),
         max('Low').alias('Max_Low'),
         avg('Low').alias('Avg_Low'),
         
         min('Last').alias('Min_Last'),
         max('Last').alias('Max_Last'),
         avg('Last').alias('Avg_Last'),
         
         min('Close').alias('Min_Close'),
         max('Close').alias('Max_Close'),
         avg('Close').alias('Avg_Close'),
         
         sum('Volume').alias('Sum_Volume'),
        ).toPandas()

In [2]:
df = spark.read.format("iceberg").load("hive_prod.silver.cleaned_trades")
# df = df.withColumnRenamed("VWAP", "Volume_Weight_Avg_Price") \
#     .withColumn("Date", date_format("Date", "dd-MM-yyyy")) \
#     .drop('ID')
df.show(3)

+----------+----------+----------+----------+----------+---------+----------+-----------+-----------------------+--------+----------------+------+------------------+-------------------+
|      Date|    Symbol|Prev_Close|Open_Price|High_Price|Low_Price|Last_Price|Close_Price|Volume_Weight_Avg_Price|  Volume|        Turnover|Trades|Deliverable_Volume|Percent_Deliverable|
+----------+----------+----------+----------+----------+---------+----------+-----------+-----------------------+--------+----------------+------+------------------+-------------------+
|27-11-2007|ADANIPORTS|     440.0|     770.0|    1050.0|    770.0|     959.0|      962.9|                 984.72|27294366|2690000000000000|     0|           9859619|               0.36|
|28-11-2007|ADANIPORTS|     962.9|     984.0|     990.0|    874.0|     885.0|      893.9|                 941.38| 4581338| 431000000000000|     0|           1453278|               0.32|
|29-11-2007|ADANIPORTS|     893.9|     909.0|    914.75|    841.0|     887.0|      884.2|                 888.09| 5124121| 455000000000000|     0|           1069678|               0.21|
+----------+----------+----------+----------+----------+---------+----------+-----------+-----------------------+--------+----------------+------+------------------+-------------------+
only showing top 3 rows

In [4]:
spark.sql("CREATE DATABASE IF NOT EXISTS hive_prod.gold")

DataFrame[]

In [9]:
df.write.format("iceberg").mode("overwrite").saveAsTable("hive_prod.gold.gold1")